{% extends 'base.html' %}

{% block title %}
<title>online shop</title>
{% endblock %}

{% block body %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
    <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="container">
    <div class="text-center">
        {% for el in templates%}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src='https://img.mvideo.ru/{{el['image']}}' class="img-fluid rounded-start" alt="">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ el['name'] }}</h5>
                        <!-- <p class="card-text">Это более широкая карта с вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p> -->
                        <p class="card-text"><small class="text-muted">{{ el['item_basePrice'] }}</small></p>
                    </div>
                    </div>
                </div>
                </div>
            
        {% endfor %}
        
    </div>
    
</div>

{% endblock %}